html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #ecebe1;
  color: #afaaa5;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer,
main,
section {
  display: block;
}

blockquote {
  color: #afaaa5;
  line-height: 1.3em;
}

.shape {
  animation: 120s rotateClockwise linear infinite, 100s floatUp ease-in infinite;
  position: absolute;
  right: 8vmin;
}

.shape--triangle {
  animation: 120s rotateAnticlockwise linear infinite,
    150s floatUp ease-in infinite;
  animation-delay: -70s;
  right: 25vmin;
}

.shape--square {
  animation: 120s rotateClockwise linear infinite, 120s floatUp ease-in infinite;
  right: 30vmin;
  animation-delay: -30s;
}

.shape--circle {
  animation: 120s rotateClockwise linear infinite, 120s floatUp ease-in infinite;
  animation-delay: -50s;
  right: -8vmin;
}

.shape--pentagon {
  animation: 120s rotateClockwise linear infinite, 100s floatUp ease-in infinite;
  animation-delay: -60s;
  right: 2vmin;
}

.shape:nth-child(n + 5).shape--triangle {
  animation-delay: 50s;
  background-color: red;
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes rotateAnticlockwise {
  0% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes floatUp {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

.about {
  position: relative;
}

.about:before {
  content: "";
  position: absolute;
  top: -60px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #dab76c;
  border-right: 5px solid #dab76c;
  transform: rotate(45deg);
}
